* {
  padding: 0;
  margin: 0;
}

.row {
  padding: 10px;
  margin: 0;
}

img {
  background-repeat: no-repeat;
  background-position: center;  
  width: 100%;
  height: auto;
}

/*Flexbox*/
.col-xs-12 {
padding: 0px;
margin: 0px;
/*display: flex;
justify-content: center;*/
}

/*Slick*/
#slickcont{
  height: 300px;
  display: block;
}

.slick-slide img {
  object-fit: cover;
  height: 300px;
}
.slick-prev{
  left: 0;
  z-index: 999;
}

.slick-next{
  right:  0;
  z-index: 999;
}

.container{
  background: #6DCCAA;
}

#info{
  display: none;
}

#label{
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
}
body {
  font-family: 'Arial', sans-serif;
}

#top {
  /*
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 80px;
  height: 80px;
  position: fixed;
  box-sizing: border-box;
  */
  background-color: #85D4B7;
  width: 100%;
}

#logo {  
  /*
  float: left;
  width: 35%;
  */
  display: flex;
  justify-content: center;
  padding: 10px;

}

@media (min-width: 1024px){
  #logo {
    justify-content: flex-start;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    /*
    float: right;
    width: 60%;
    */
  }
}

@media (min-width: 612px){
  nav {
    display: flex;
    justify-content: center;
    /*
    float: right;
    width: 60%;
    */
  }
}

nav {
  text-align: center;
  /*
  float: right;
  width: 60%;
  */
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float: left;
  padding: 10px;
  text-align: center;
}

@media (max-width: 612px){
  nav ul li {
   
    border: #6DCCAA solid 1px;
    width: 100%;

  }
  address, #slogan {
  display: none;
  }
}


nav ul li a {
  font-size: 16px;
  display: inline-block;
  padding: 10px;
  color: #FFF;
  text-decoration: none;
  font-weight: 500;
}

nav ul li a:hover {
  color: #333;
}

#main { 
  display: none;
  background-color: #6DCCAA;
  background-repeat: no-repeat;
  background-position: center;  
  width: 100%;
  height: auto;
  padding: 10px 0px;
  /*
  background-size: 60%;
   height: 500px; b ackground-image: url('../img/perro.png');
  */
}

footer {
  
  /*
  padding: 20px;
  padding-top: 0;
  height: 80px;
  */
  box-sizing: border-box;
  background-color: #6DCCAA;
  width: 100%;
  padding: 10px;
  color: #FFF;
  font-size: 18px;
  text-align: center;
}

address, #slogan, #social {
  width: 33%;
  font-weight: 800;
  padding: 10px;
  text-align: center;
}

address {
  font-style: normal;
  font-weight: 800;
}

#slogan p {
  text-align: center;
  color: #FFF;
}



#social {
  /*padding-left: 100px;*/
  box-sizing: border-box;
}

#social ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#social ul li {
  float: left;
  padding: 10px;

}

#social ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
  color: #6DCCAA;
  border: 2px solid #FFF;
  background-color: #FFF;
  border-radius: 100%;
  /*margin-right: 20px;*/
}

#social ul li a:hover {
  background-color: #333;
  border-color: #333;
  color: #FFF;
}

#coaching, #winkel {
  /*padding: 60px;
  padding-top: 40px;
  box-sizing: border-box;
  width: 100%;
  height: 90vh;*/
  padding: 10px;
  background: #FFF;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase
}
/*
.left {
  width: 50%;
  float: left;
  text-align: right;
  padding-right: 20px;
  box-sizing: border-box;
}
*/
#left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 10px;
}
/*
.right {
  width: 50%;
  float: right;
  padding-left: 20px;
  box-sizing: border-box;
}
*/
#right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10px;
}

.subtitulo {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #777;
  margin: 0;
}

hr {
  display: inline-block;
  width: 50px;
  height: 2px;
  margin: 20px 0;
  background: #333;
}

p {
  font-size: 14px;
  line-height: 1.9;
  margin: 0 0 30px 0;
  color: #404040;
}

button {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: inherit;
  background: transparent;
  border: 2px solid #333;
  padding: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #FFCF3F;
  border-color: #FFCF3F;
  color: #FFF;
}

#coaching img {
  width: 50%;
}

#credits {
  width: 100%;
  /*eight: 15vh;*/
  background-color: #e6e6e6;
}

a {
  color: #FFCF3F;
}

a:hover {
  color: #333;
}

