{% extends 'base/base.html' %}


{% block content %}


{% endblock %}

{% block footer %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
</form>
{% endblock %}