{% extends 'base/base.html' %}


{% block content %}
<table>
    <thead>
    <tr>
        <td>Foto</td>
        <td>Nombre</td>
        <td>Raza</td>
        <td>Descripción</td>
        <td>Estado</td>
        <td>Persona</td>
        <td>Acciones</td>
    </tr>
    </thead>

    <tbody>
    {% if mascotas %}
    {% for mascota in mascotas %}
    <tr>
        <td><img src="../{{ mascota.imagen }}"></td>
        <td>{{ mascota.nombre }}</td>
        <td>{{ mascota.raza }}</td>
        <td>{{ mascota.descripcion }}</td>
        <td>{{ mascota.estado }}</td>
        <td>{{ mascota.persona.nombre }} {{ mascota.persona.apellidop }} {{ mascota.persona.apellidom }}</td>
        <td>
            <a class="btn btn-primary" href="{% url 'mascota:mascota_editar' mascota.id %}">Editar</a>
            <a class="btn btn-primary" href="{% url 'mascota:mascota_borrar' mascota.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <h1>No hay ninguna cochiná de perro</h1>
    {% endif %}
    </tbody>
</table>
{% endblock %}

{% block footer %}

{% endblock %}